@model UserViewModel
@using EmirsCorrespondence.Data.DTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-info">Edit Existing User</h1>
<br />

<form method="post" asp-action="Edit">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Username" class="form-control" />
            </div>
            <div class="col-5">
                <input asp-for="Username" class="form-control" />
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

         <div class="border backgroundWhite">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Email" class="form-control" />
                </div>
                <div class="col-5">
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div

        
    </div>


         <div class="border backgroundWhite">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="PasswordHash" class="form-control" />
                </div>
                <div class="col-5">
                    <input asp-for="PasswordHash" class="form-control" />
                </div>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
            

    <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>

           
</form>

