@* <!DOCTYPE html> *@
@* <html> *@

@* <head> *@
@*     <!-- Basic --> *@
@*     <meta charset="utf-8" /> *@
@*     <meta http-equiv="X-UA-Compatible" content="IE=edge" /> *@
@*     <!-- Mobile Metas --> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> *@
@*     <!-- Site Metas --> *@
@*     <meta name="keywords" content="" /> *@
@*     <meta name="description" content="" /> *@
@*     <meta name="author" content="" /> *@

@*     <title>Emirs Correspondence</title> *@

@*     <!-- bootstrap core css --> *@
@*     <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" asp-append-version="true" /> *@

@*     <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" asp-append-version="true"> *@
@*     <!-- Custom styles for this template --> *@
@*     <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/css/style.scss" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/css/style.css.map" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/js/site.js" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/js/custom.js" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/js/bootstrap.js" rel="stylesheet" asp-append-version="true" /> *@
@*     <link href="~/js/jquery-3.4.1.min.js" rel="stylesheet" asp-append-version="true" /> *@

@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
@*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  *@
@*   <link rel="stylesheet" href="~/EmirsCorrespondence.styles.css" asp-append-version="true" /> *@






@*     <!-- responsive style --> *@
@*     <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true" /> *@
@* </head> *@

@* <body> *@
@*     <div class="hero_area"> *@
@*         <!-- header section strats --> *@
@*         <header class="header_section"> *@
@*             <div class="container-fluid"> *@
@*                 <nav class="navbar navbar-expand-lg custom_nav-container"> *@
@*                     <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="User"> *@
@*                         <img src="images/logo.png" alt="" /> *@
@*                         <span> *@
@*                             Emir *@
@*                         </span> *@
@*                     </a> *@
@*                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> *@
@*                         <span class="navbar-toggler-icon"></span> *@
@*                     </button> *@

@*                     <div class="collapse navbar-collapse" id="navbarSupportedContent"> *@
@*                         <ul class="navbar-nav  "> *@

@*                             <li class="nav-item"> *@
@*                                 <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Create">Create</a> *@
@*                             </li> *@

@*                             <li class="nav-item"> *@
@*                                 <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index">Home</a> *@
@*                             </li> *@

@*                             <li class="nav-item"> *@
@*                                 <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Edit">Edit</a> *@
@*                             </li> *@

@*                         </ul> *@

@*                     </div> *@
@*                     <div> *@
@*                         <div class="custom_menu-btn "> *@
@*                             <button> *@
@*                                 <span class=" s-1"> *@

@*                                 </span> *@
@*                                 <span class="s-2"> *@

@*                                 </span> *@
@*                                 <span class="s-3"> *@

@*                                 </span> *@
@*                             </button> *@
@*                         </div> *@
@*                     </div> *@

@*                 </nav> *@
@*             </div> *@
@*         </header> *@
@*         <!-- end header section --> *@
@*         <!-- slider section --> *@
@*         <section class="slider_section "> *@
@*             <div class="carousel_btn-container"> *@
@*                 <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> *@
@*                     <span class="sr-only">Previous</span> *@
@*                 </a> *@
@*                 <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> *@
@*                     <span class="sr-only">Next</span> *@
@*                 </a> *@
@*             </div> *@
@*             <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> *@
@*                 <ol class="carousel-indicators"> *@
@*                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li> *@
@*                     <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li> *@
@*                     <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li> *@
@*                 </ol> *@
@*                 <div class="carousel-inner"> *@
@*                     <div class="carousel-item active"> *@
@*                         <div class="container-fluid"> *@
@*                             <div class="row"> *@
@*                                 <div class="col-md-5 offset-md-1"> *@
@*                                     <div class="detail-box"> *@
@*                                         <h1> *@
@*                                             Get Best  <br> *@
@*                                            Company Corresspodence From <br> *@
@*                                             The Best Developer *@
@*                                         </h1> *@
@*                                         <p> *@
@*                                             It is a long established fact that a will be satisfied *@

@*                                         </p> *@
@*                                         <div class="btn-box"> *@
@*                                             <button class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="Create">See More</button> *@
@*                                         </div> *@
@*                                     </div> *@
@*                                 </div> *@
@*                                 <div class="offset-md-1 col-md-4 img-container"> *@
@*                                     <div class="img-box"> *@
@*                                         <img src="images/slider-img.png" alt=""> *@
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="carousel-item "> *@
@*                         <div class="container-fluid"> *@
@*                             <div class="row"> *@
@*                                 <div class="col-md-5 offset-md-1"> *@
@*                                     <div class="detail-box"> *@
@*                                         <h1> *@
@*                                             Want to join the best Developers? *@
@*                                         </h1> *@
@*                                         < *@
@*                                         <div class="btn-box"> *@
@*                                             <button class="btn btn-primary" asp-area="Admin" asp-controller="Auth" asp-action="Register">See More</button> *@

@*                                         </div> *@
@*                                     </div> *@
@*                                 </div> *@
@*                                 <div class="offset-md-1 col-md-4 img-container"> *@
@*                                     <div class="img-box"> *@
@*                                         <img src="images/slider-img.png" alt=""> *@
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="carousel-item "> *@
@*                         <div class="container-fluid"> *@
@*                             <div class="row"> *@
@*                                 <div class="col-md-5 offset-md-1"> *@
@*                                     <div class="detail-box"> *@
@*                                         <h1> *@
@*                                             Want to join the best Develpoers? *@
@*                                         </h1> *@
@*                                         < *@
@*                                         <div class="btn-box"> *@
@*                                             <button class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="Create">See More</button> *@

@*                                         </div> *@
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <div class="offset-md-1 col-md-4 img-container"> *@
@*                                 <div class="img-box"> *@
@*                                     <img src="images/slider-img.png" alt=""> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@

@*     </div> *@

  
    
@*     <div>@RenderBody();</div> *@


@*     <!-- end info section --> *@
@*     <!-- footer section --> *@
@*     <footer class="container-fluid footer_section "> *@
@*         <div class="container"> *@
@*             <p> *@
@*                 &copy; <span id="displayDate"></span> All Rights Reserved By *@
@*                 <a asp-action="index" asp-controller="Home">Dahmylarey Book Store</a> *@
@*             </p> *@
@*         </div> *@
@*     </footer> *@
@*     <!-- end  footer section --> *@


@*     <script src="~/js/bootstrap.js" asp-append-version="true"></script> *@
@*     <script src="~/js/custom.js" asp-append-version="true"></script> *@
@*     <script src="~/js/jquery-3.4.1.min.js" asp-append-version="true"></script> *@
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js" asp-append-version="true"></script> *@
    
@*      <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>  *@
@*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script> *@
@*      <script src="~/js/site.js" asp-append-version="true"></script>  *@
@*     @await RenderSectionAsync("Scripts", required: false) *@

@* </body> *@


@* </html> *@





<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
     <title>@ViewData["Title"] - Emirs Correspondence</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
     <link rel="stylesheet" href="~/EmirsCorrespondence.styles.css" asp-append-version="true" /> 

 </head> 
 <body> 
    <header> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"> 
            <div class="container-fluid"> 
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">EmirsCorrespondence</a> 
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" 
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span> 
                </button> 
                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                     <ul class="navbar-nav flex-grow-1"> 
                         <li class="nav-item"> 
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="User" asp-action="Index">Home</a> 
                         </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="User" asp-action="Create">Create</a>
                        </li>
                     </ul> 
                     <partial name="_LoginPartial" /> 
                 </div> 
            </div> 
        </nav> 
     </header> 
    <div class="container">
         <main role="main" class="pb-3"> 
           @RenderBody() 
         </main>
     </div>

     <footer class="border-top footer text-muted"> 
        <div class="container"> 
             &copy; 2025 - EmirsCorrespondence - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> 
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false) 
 </body> 
</html>
